/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/**
* Table surcharging style
*
*/
.table td{
  font-size: 0.9em;
  line-height: 1.3rem;
}
.table p{
  margin: 0.5em 0;
  padding: 0 0 0 0;
  font-size: 0.9em;
  line-height: 0.8rem;
}
.table .strong{
 font-weight: bold;
}
/**
* General styles
*
*/
 h1 {
  font-size: 1.5em;
  margin: 0.67em 0;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  
}
body,html{background-color:#FFFFFF!important;}
main {
  flex: 1 0 auto;
}



nav
{
margin-bottom: 30px;
}

.sticky{
  position: relative;top: -42px;
}





nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

/* .button-collapse {
  color: #26a69a;
} */

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}

.home .col
{
	margin-bottom: 24px;
}

.home h5
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.home h6
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.home hr
{
	width: 40px;
	margin-bottom: 45px;
}

.home .card
{
	text-align: center;
}